.reassurances-wrapper {
  text-align: center;
  color: #444;
  background-color: rgba(245, 236, 195, 0.41);
  border: none;
  margin-left: 120px;
  margin-top: 10px;
}

.reassurances-message {
  margin-top: 10px;
  font-style: italic;
  font-size: 125%;
}

.reassurances-person {
  font-weight: bold;
  margin-bottom: 10px;
}