h1 {
    margin-bottom: 0px;
}

.timers{
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
}

.start-game{
  background-color: #01a501;
}

.leave-game{
  background-color: #ce2020;
}

.room-creator {
  background-color: #7EA77C;
  color: white;
  margin-bottom: 10px;
}

.dictionary-corner {
  opacity: 0;
  transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
  padding-bottom: 10px;
}

.fade-in {
  opacity: 1;
}

.dictionary-corner-word {
  padding: 10px;
  font-weight: bold;
}

.dictionary-corner-definition {
  padding: 0px 10px 10px;
  font-style: italic;
}

.susie {
  width: 200px;
  height: 200px;
}

.susie-section {
  padding-bottom: 20px;
}

.bubble {
  display: inline-block;
  position: relative;
    padding: 0px;
    background: white;
    border: 1px solid silver;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bubble:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: silver transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.glosbe {
  text-align: center;
  font-style: italic;
}