.room-creator-input {
    margin-left: 10px;
    min-height: 60px;
    width: 250px;
}

.set-username-label {
	float: right;
	margin-top: 7px;
	margin-right: 5px;
	font-size: 50%;
}

.set-username-input {
	margin-left: 10px;
	font-weight: normal;
	font-family: helvetica;
}

.cogs-button {
    color: white;
    background-color: #7D437B;
    min-height: 60px;
    min-width: 60px;
    font-size: 40px;
    vertical-align: middle; 
}

.input-slider-wrapper {
    color: black;
    background-color: #fcf8e3;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-left: 150px;
    font-size: 110%;
    border-radius: 5px 5px;
    text-align: center;
    border: 1px solid #e1e1ea;
}

.input-slider {
    display: inline-block;
}

.round-number {
    font-size: 125%;
    display: inline-block;
}