.room-creator-input {
    margin-left: 10px;
    height: 60px;
    width: 250px;
}

.set-username-label {
	float: right;
	margin-top: 7px;
	margin-right: 5px;
	font-size: 50%;
}

.set-username-input {
	margin-left: 10px;
	font-weight: normal;
	font-family: helvetica;
}

.cogs-icon {
    color: grey;
    font-size: 60px;
    vertical-align: middle; 
}