h1 {
    background-color: #cce6ff;
}

h2 {
    background-color: #b3d9ff;
}

h3 {
    background-color: #b3d9a0;
}

button {
    margin-left: 10px;
    height: 60px;
    width: 150px;
}

li {
    height: 60px;
    text-align: center;
}
