h1 {
    background-color: #cce6ff;
}

h2 {
    background-color: #b3d9ff;
}

h3 {
    background-color: #b3d9a0;
}

button {
    margin-left: 30px;
    min-height: 60px;
    min-width: 100px;
}

li {
    min-height: 60px;
    text-align: center;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

}
input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #5bc0de;
    margin-top: -7px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
